@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor0: #C6EBBE;
    --cor1: #95B2B0;
    --cor2: #647AA3;
    --cor3: #334195;
    --cor4: #020887;

    --fonte-padrao: 'Arial', 'Helvetica', sans-serif;
    --fonte-destaque: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body { 
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
    min-height: 150px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    color: white;
    padding: 40px 0px 20px 0px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.281);
}

header > p { 
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: normal;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.281);
}

nav {
    background-color: var(--cor3);
    padding: 10px;
}

nav > a {
    text-decoration: none;
    font-family: var(--fonte-padrao);
    color: var(--cor0);
    padding: 10px;
    transition-duration: .5s;
}

nav > a:hover {
    text-decoration: underline;
    color: var(--cor4);
    background-color: var(--cor2);
    border-radius: 5px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    background-color: white;
}

main h1 {
    font-family: var(--fonte-destaque);
    font-size: 2em;
    font-weight: normal;
    margin: 10px;
    padding-left: 10px;
    color: var(--cor4);
    background-image: linear-gradient(to right, #7FBEEB, transparent);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.281);
}

main p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: normal;
    text-indent: 30px;
    line-height: 1.8em;
}

div.video {
    position: relative;
    background-color: var(--cor3);
    margin: 15px -20px 30px -20px;
    height: 0px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

a.externo {
    text-decoration: none;
    color: var(--cor4);
    background-color: #7FBEEB;
    padding: 3px;
}

a.externo:hover {
    text-decoration: underline;
    color: var(--cor3);
}

a.externo::after {
    content: '\00A0\1F517';
}

strong {
    color: var(--cor4);
    font-weight: bolder;
}

footer {
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    font-size: 0.8em;
    background-color: var(--cor3);
    text-align: center;
    padding: 8px;
}
